@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  font-family: 'Press Start 2P', cursive !important;
  background: repeating-linear-gradient(to bottom, #0f0a1e, #0f0a1e 2px, #140e29 2px, #140e29 4px);
  background-color: #000;
}
th, td, div.list-group-item, h1, input, label {
  color: #fff;
  font-size: 30px;
  letter-spacing: 5px;
  text-shadow: -2px 0 0 #fdff2a, -4px 0 0 #df4a42, 2px 0 0 #91fcfe, 4px 0 0 #4405fc;
  background-color: inherit;
}